@import 'src/index.scss';

.App {
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 30px;

  padding-top: 100px;
  margin: auto;
  max-width: $max-width;
}

.title {
  text-align: center;
}